@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Jost:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background: rgb(27,29,52);
    background: linear-gradient(97deg, rgba(27,29,52,1) 9%, rgba(65,18,104,1) 46%, rgba(125,48,189,1) 93%);
    background-size:cover;
    height: 100vh;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff90;
    width: 80%;
    margin: 80px auto;
    border-radius: 20px;
    padding: 50px;
    
}

.menu {
    top: 0;
    left: 0;
    width: 87.8%;
    padding: 20px 100px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 20px;
    margin-top: 5px;
}

.logo {
    font-size: 32px;
    font-family: 'Jost', sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 500;
}

nav ul {
    list-style: none;
    
}

nav ul li {
    display: inline-block;
    
}

nav ul li a {
    position: relative;
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Jost', sans-serif;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: 0.3s ease-out;
}

nav ul li a:hover::before{
    width: 100%;
}

nav ul li a.active {
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
}


.wrapper {
    width: 450px;
    border-radius: 20px;
    background-color: transparent;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .data-atual {
    font-size: 1.45rem;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    border-radius: 50%;
    cursor: pointer;
    color: #ffffff;

    background-color: transparent;
}

header .icons span:last-child{
    margin-right: -10px;
}

header .icons span:hover{
    background-color: #745eee90;
}

.calendario {
    padding: 20px;
}

.calendario ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendario .dias {
    margin-bottom: 20px;
}


.calendario .semanas li {
    font-weight: bold;
    color: #023047;
}

.calendario .dias li {
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Jost', sans-serif;
    transition: .2s ease-in-out;
}

.dias li.inativo {
    color: #745eee;
}

.dias li.ativo {
    color: #ffffff;
}

.calendario ul li{
    position: relative;
    width: calc(100% / 7);
    font-family: 'Jost', sans-serif;
    font-weight: 100;
}

.calendario .dias li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dias li:hover::before {
    background: #ffffff;
}

.dias li.ativo::before {
    background: #745eee;
}

.dias li:hover{
    color: #023047;
}

.tarefa:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: blue;
    margin-right: 4px;
}

.prova:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
    margin-right: 4px;
}

.data-atual-fora {
    color: #ffffff;
    font-size: 50px;
}

.data-atual {
    color: #ffffff;
    font-weight: bold;
}

